* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  left: 0;
  width: 80px;
  height: 100%;
  background: #cb8d39;
  border-left: 10px solid #cb8d39;
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 430px;
}

.navigation ul {
  margin-top: 5pc;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li a:active{
  color: #cb8d39;
}
/*
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: #cb8d39;
}
*/
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 2rem;
}

.navigation ul li a .icon ion-icon:hover {
  font-size: 2.5rem;
  transition: 0.5s;
}

.navigation ul li a .title {
  font-size: 22px;
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:active a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:active a::after
 {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 80px);
  left: 80px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 300px);
  left: 300px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.xmark {
  position: relative;
  width: 35px;
  height: 60px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo1 {
  position: absolute;
  top: 10px;
  width: 55px;
  margin-right: 0px;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.user1 {
  position: relative;
}

.user1 p {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: -11pc;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  padding: 20px 20px;
  margin-bottom: 25px;
}

/* ======================= Cards ====================== */
.cardBox {
  width: 100%;
  padding: 20px 10pc;
}

.cardBox .card {
  justify-content: center;
  padding: 20px;
  background: black;
  border: 1px solid #999;
  border-radius: 20px;
  justify-content: space-between;
  margin-top: 40px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 1);
}

.cardBox .card .numbers {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  margin-bottom: 20px;
}

.cardBox .card .link {
  text-decoration: none;
  color: #999;;
  cursor: pointer;
}

.cardBox .card .cardName {
  text-align: center;
  color: #999;
  font-size: 27px;
  margin-top: 5px;
}

.tab-1{
  position: relative;
}

.tab-2{
  position: relative;
}
.bar-1{
  text-align: center;
}
.bar-1 .fund {
  position: relative;
 align-items: center;
 font-size: 28px;
 padding: 5px 4pc; 
 color: #999;
 border: 1px solid #cb8d39;
 border-radius: 14px;
 background: black;
 cursor: pointer;
}
.bar-1 .fund svg{
  position: absolute;
  left: 10px;
  top: 2px;
  margin-right: 20px;
}
.bar-2 {
text-align: center;
}

.bar-2 .fund{  
  position: relative;
  align-items: center;
  font-size: 28px;
  padding: 5px 4pc; 
  color: #999;
  border: 1px solid #cb8d39;
  border-radius: 14px;
  background: black;
  cursor: pointer;
}

.details {
  position: relative;
  width: 80%;
  padding: 20px;
  display: grid;
  grid-template-rows: 1;
  grid-gap: 50px;
  margin-top: 10px;
  margin-left: 10pc;
  overflow: hidden;
}

.details .recentTransact {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  margin-top: 0px;
}

.details .cardHeader {
  text-align: center;
  margin-bottom: 0px;
}
.cardHeader h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 30px;
}
.cardHeader .btn {
  position: relative;
  padding: 10px 20px;
  background: #cb8d39;
  text-decoration: none;
  color: black;
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
}
.details table thead td {
  font-weight: 600;
  font-size: 25px;
}

.details .recentTransact table tr {
  font-size: 25px;
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentTransact table tr:last-child {
  border-bottom: none;
}

.details .recentTransact table tr td {
  padding: 10px;
}
.details .recentTransact table tr td:last-child {
  text-align: end;
}
.details .recentTransact table tr td:nth-child(2) {
  text-align: end;
}
.details .recentTransact table tr td:nth-child(3) {
  text-align: center;
}
.details .recentTransact .noTransact {
  margin-top: 10pc;
  text-align: center;
  font-size: 25px;
}
.status.success {
  color: #222;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 500;
}
.status.pending {
  padding: 4px 8px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 25px;
  font-weight: 500;
}
.status.failed {
  padding: 4px 8px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 25px;
  font-weight: 500;
}
.status.progress {
  padding: 4px 8px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 25px;
  font-weight: 500;
}

/* Withdrawal */
.withdraw {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}

.new {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 12px;
  background-color: #cb8d39;
  text-align: center;
  text-decoration: none;
  color: black;
}

.method {
  margin-top: 30px;
  padding: 0 20%;
}

.method ul li {
  padding: 40px;
  display: block;
  list-style: none;
  background-color: #f5f7fc;
}

.list {
  font-size: 20px;
  font-weight: 200;
  padding: 25px 100px;
  border-radius: 12px;
  border: 1px solid #cb8d39;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.tab{
  padding: 0 25%;
}

/* Withdraw to Bank */
.bank{
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: #f5f7fc;
  padding: 40px 45px;
}

.bank .text5{
  text-align: center;
  margin-bottom: 30px;
  line-height: 2;
}

.text5 p{
  font-size: 22px;
}

.bank form input {
  position: relative;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bank form select{
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bank form label {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.bank form .go{
  margin-top: 15px;
  font-size: 22px;
  width: 100%;
  padding: 10px;
  background-color: #cb8d39;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.wallet{
  text-align: center;
  position: relative;
}

.wallet span{
  position: absolute;
  top: 21px;
  left: 6.5pc;
  cursor: pointer;
}

.wallet input{
  text-align: center;
  width: 70%;
  padding: 20px;
  font-size: 18px;
}

.buttons{
  margin-top: 30px;
  text-align: center;
}

.btn3{
  font-size: 15px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #cb8d39;
  border: none;
  border-radius: 4px;
}

.btn4{
  font-size: 15px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #cb8d39;
  color: #cb8d39;
  border-radius: 4px;
}
.timer{
  text-align: center;
}
.timer h3 {
  color: #cb8d39;
  font-size: 25px;
  font-weight: 200;
}

.sector{
  margin-top: 100px;
  padding: 0 30%;
  align-items: center;
  text-align: center;
}

.sector a{
  text-decoration: none;
  color: black;
}

.verify{
  font-size: 29px;
  position: relative;
  padding: 25px 50px;
  border: 1px solid #cb8d39;
  margin-bottom: 20px;
}

.verify svg{
  padding: 8px;
  background-color: #cb8d39;
  border-radius: 10px;
  position: absolute;
  left: 30px;
  top: 15px;
}

.photo{
  font-size: 29px;
  position: relative;
  padding: 25px 50px;
  border: 1px solid #cb8d39;
  margin-bottom: 20px;
}

.photo svg{
  padding: 8px;
  background-color: #cb8d39;
  border-radius: 10px;
  position: absolute;
  left: 30px;
  top: 9px;
}

.emailo{
  font-size: 29px;
  position: relative;
  padding: 25px 50px;
  border: 1px solid #cb8d39;
  margin-bottom: 20px;
}

.emailo svg{
  padding: 8px;
  background-color: #cb8d39;
  border-radius: 10px;
  position: absolute;
  left: 30px;
  top: 7px;
}

.password{
  font-size: 29px;
  position: relative;
  padding: 25px 50px;
  border: 1px solid #cb8d39;
}

.password svg{
  padding: 8px;
  background-color: #cb8d39;
  border-radius: 10px;
  position: absolute;
  left: 30px;
  top: 9px;
}

.pics input{
  padding: 20px;
  border: 1px solid #cb8d39;
}


/*Admin das*/
.user-card{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header{
  margin-bottom: 16px;
}

.username{
  margin: 0 0 8px 0;
  font-size: 1.5rem;
  color: #333;
}

.email {
  margin: 0;
  font-size: 1rem;
  color: #777;
}

button{
  padding: 11px 16px;
  font-size: 1rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-cards {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newTransact{
  text-align: center;
  padding: 20px 6%;
}

.newTransact form{
  padding: 40px;
}

.newSelect{
  padding:8px 30px;
  border-radius: 4px;
  font-size: 20px;
  margin-right: 5px;
}

.proceed{
  padding: 11px 16px;
  margin-left: 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentTransact {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px){
  .head {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0px 1%;
    margin-bottom: 25px;
  }

  .logo1 {
    position: absolute;
    top: 12px;
    width: 60px;
  }

  .cardBox {
    padding: 0 5%;
  }

  .cardBox .card{
    width: 380px;
  }

  .cardHeader h2 {
    font-size: 20px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .navigation.active ~ .main{
    display: none;
    transition: 0.5s ease;
  }

  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navigation ul li{
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 40px;
  }

  .navigation ul li a .icon ion-icon {
    font-size: 2.6rem;
    margin-top: 4px;
  }
  
  .navigation ul li a .title {
    font-size: 26px;
  }
  
  .xmark{
    display: flex;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
  }
  .user1 p{
    top: -10px;
    font-size: 25px;
    left: -14pc;
  }
  .cardBox .card .cardName {
    text-align: center;
    color: #999;
    font-size: 30px;
    margin-top: 5px;
  }
  .cardBox .card .numbers {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .bar-1{
    text-align: center;
  }
  .bar-1 .fund {
   position: relative;
   align-items: center;
   font-size: 30px;
   padding: 10px 55px; 
   color: #999;
   border: 1px solid #cb8d39;
   background-color: black;
   cursor: pointer;
   margin-bottom: 10px;
   transition: all 0.5s ease;
  }
  .bar-1 .fund svg{
    position: absolute;
    left: 10px;
    top: 7px;
    margin-right: 20px;
  }
  .bar-2 {
  text-align: center;
  }
  .bar-1 .fund :hover{ 
  border: 4px solid #cb8d39;
  transform: translateY(-10px);
  }

  .bar-2 .fund{
   position: relative;
   align-items: center;
   font-size: 30px;
   padding: 10px 55px; 
   color: #999;
   border: 1px solid #cb8d39;
   background-color: black;
   cursor: pointer;
   margin-bottom: 10px;
   transition: all 0.5s ease;
  }
 
  .details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: 1;
    grid-gap: 50px;
    margin-left: 0;
    margin-top: 10px;
  }

  .details .recentTransact {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin-top: 0px;
  }
  
  .details .cardHeader {
    margin-bottom: 0px;
  }
  .cardHeader h2 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .cardHeader .btn {
    position: relative;
    padding: 5px 20px;
    background: #cb8d39;
    text-decoration: none;
    color: black;
    border-radius: 6px;
  }

  .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
  }
  .details table thead td {
    font-weight: 400;
    font-size: 27px;
  }
  .details .recentTransact table tr {
    font-size: 26px;
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .status.success {
    color: #222;
    border-radius: 4px;
    font-size: 26px;
  }
  .status.pending {
    padding: 4px 8px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 25px;
    font-weight: 500;
  }
  .status.failed {
    padding: 4px 8px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 25px;
    font-weight: 500;
  }

  .bank{
    margin-top: 150px;
    margin-bottom: 60px;
    background-color: #f5f7fc;
    padding: 40px 5px;
  }
  .tab{
    padding: 0 5%;
  }
 
  /*Admin das*/
.user-card{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header{
  margin-bottom: 16px;
}

.username{
  margin: 0 0 8px 0;
  font-size: 1.5rem;
  color: #333;
}

.email {
  margin: 0;
  font-size: 1rem;
  color: #777;
}

button{
  padding: 11px 16px;
  font-size: 1rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-cards {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newTransact{
  text-align: center;
  padding: 20px 6%;
}

.newTransact form{
  padding: 40px;
}

.newSelect{
  padding:8px 30px;
  border-radius: 4px;
  font-size: 20px;
  margin-right: 5px;
}

.proceed{
  padding: 11px 16px;
  margin-left: 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

}

@media only screen and (min-width: 280px) and (max-width: 399px) {
  .head {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0px 1%;
    margin-bottom: 25px;
  }

  .logo1 {
    position: absolute;
    top: 12px;
    width: 60px;
  }

  .cardBox {
    padding: 0 5%;
  }

  .cardBox .card{
    width: 340px;
  }

  .cardHeader h2 {
    font-size: 20px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .navigation.active ~ .main{
    display: none;
    transition: 0.5s ease;
  }

  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navigation ul li{
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 40px;
  }

  .navigation ul li a .icon ion-icon {
    font-size: 2.6rem;
    margin-top: 4px;
  }
  
  .navigation ul li a .title {
    font-size: 26px;
  }
  
  .xmark{
    display: flex;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
  }

  .details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: 1;
    grid-gap: 50px;
    margin-left: 0;
    margin-top: 10px;
  }

  .details .recentTransact {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin-top: 0px;
  }
  
  .details .cardHeader {
    margin-bottom: 0px;
  }
  .cardHeader h2 {
    font-weight: 600;
  }
  .cardHeader .btn {
    position: relative;
    padding: 10px 10px;
    background: #cb8d39;
    text-decoration: none;
    color: black;
    border-radius: 6px;
  }
  
  .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
  }
  .details table thead td {
    font-weight: 600;
    font-size: 20px;
  }
  .details .recentTransact table tr {
    font-size: 20px;
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
