body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }
  .loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transition: opacity 1s, visibility 10s, transform 5s;
    z-index: 1;
  }
  
  .loader-hidden {
    opacity: 0;
    visibility: hidden;
  }
  .loader::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 15px solid #45474b;
    border-top-color: #cb8d39;
    border-radius: 50px;
    animation: loader 1s ease-in infinite;
  }
  @keyframes loader {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .logo img {
    width: 120px;
  }
  
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li a {
    text-decoration: none;
    color: #48505e;
    font-size: 25px;
  }
  nav .fa-solid {
    display: none;
  }
  .book {
    text-decoration: none;
    padding: 15px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 50px;
    margin-left: 70px;
  }
  .book svg{
    position: absolute;
    top: 6px;
    left: 25px;
  }
  .container {
    padding: 0 3%;
  }

  .human-header{
    font-family: "Montserrat-Regular", "PingFangSC-Regular", "Microsoft Yahei";
    font-size: 48px;
    color: #333;
    line-height: 58px;
    margin-top:30px;
    text-align: center;
  }

  .human-container{
    margin: 40px;
    font-family: "Montserrat-Regular", "PingFangSC-Regular", "Microsoft Yahei";
  }
 
  .human-body{
    font-size: 14px;
    color: #5d5a5a;
    line-height: 22px;
    font-weight: bold;
  }

  .human-head{
    font-size: 35px;
    color: #333;
    line-height: 58px;
    margin-top:30px;
    
  }
  


  footer{
    display: block;
    background: #cb8d39;
    color: black;
    padding: 20px;
  } 
  footer img{
    width: 140px;
  }

  .foot{
    display: flex;
    justify-content: space-between;
    color: black;
  }
 
  .col0 h3{
    margin: 0;
  }
  .foot p{
    font-size: 20px;
    border-top: 1px solid #48505E;
    border-bottom: 1px solid #48505E;
    padding: 8px 0px;
    margin-top: 60px;
  }
  .foot ul li {
    list-style: none;
    padding: 5px 0;
  }
  .foot ul li a{
    color: black; 
    text-decoration: none;
    font-size: 20px;
  }
  @media only screen and (max-width: 600px) {
    nav .fa-solid {
      display: block;
      font-size: 30px;
      margin-right: 20px;
    }
    nav ul .fa-solid{
      position: absolute;
      top: 27pc;
      left: 10.2pc;
      padding: 17px;
      background: #cb8d39;
      border-radius: 50%;
      cursor: pointer;
    }
    nav ul {
      position: fixed;
      background: white;
      top: 100px;
      left: -200%;
      width: 100%;
      height: 100vh;
      padding-top: 30px;
      transition: left 0.5s;
    }
    nav ul li {
      display: block;
      text-align: center;
      padding-bottom: 25px;
      margin-right: 90px;
    }
    nav ul li a {
      font-size: 30px;
    }
    .book{
      padding: 7px 70px;
      font-size: 32px;
      margin-left: 68px;
    }
  form input, form textarea{
      width: 92%;
      border: 0;
      outline: none;
    
      padding: 15px;
      margin: 15px 0;
      color: white;
      font-size: 22px;
  }
  .btn2{
      width: 100%;
  }
  footer {
    display: block;
  }
  footer img {
    margin-left: 70px;
    font-size: 160px;
  }
  footer ul {
    padding-left: 0;
  }
  footer ul li {
    margin-top: 0px;
  }
  footer p {
    margin-top: 20px;
  }
  }